---
title: Statement on the NPC Election
date: 2017-08-08 19:30 UTC
category: news
published: false
---

.title
  = @title

.datetime
  = @date

%p
  To the National Political Committee of DSA:
%p
  It has recently come to our attention that a newly elected member of DSA’s National Political Committee, Danny Fetonte, was a union organizer field representative for the Combined Law Enforcement Association of Texas (CLEAT), the largest association of police unions in the state of Texas, which provides extensive services and legal representation for members of various local police unions. His failure to disclose this aspect of his professional organizing background to the greater membership during his campaign contrasts with DSA’s value of transparency in our leadership. The Libertarian Socialist Caucus of DSA consider these facts deeply troubling and cause for alarm.

%p
  Collaboration with police unions is antithetical to everything that DSA stands for. Although law enforcement officers are public employees with typical collective bargaining interests on matters of wages, hours, and working conditions, police and their unions cannot be our allies. Given the function of police in class society—to violently control working class people, especially people of color, so that exploitation and accumulation may proceed without disruption—police unions also organize to obstruct critical advances in defense of human rights, equality, and freedom. The chasm between the interests of the working class and the interests of police unions stretches from the most basic matters of civilian oversight and police accountability to the fundamental nature of the revolutionary future we fight for as socialists, a future in which the state violence that preserves class society is abolished entirely. 
%p 
  Police unions and their organizers actively defend white supremacy and class oppression by marshalling their resources to protect police from legal consequences when they murder and abuse civilians. They inflict state violence with particular viciousness on people of color, immigrants, LGBTQ+, sex workers, the poor, the disabled, organizing workers, and movements struggling for Black lives and ecological defense. The consistency with which police unions fight tooth and nail against even the most tepid reforms for curtailing police abuses, as well as the consistency with which they back right-wing political movements, should make it extremely clear that police unions are not our allies.
  %sup
    %a{href: '#1'}
      = "[1]"
%p 
  This is a matter around which we expect a broad consensus within DSA. A resolution to make the abolition of prisons a long-term goal of DSA has just passed with overwhelming support. We are an organization committed to racial justice, immigrant rights, feminism, and human freedom. 
%p
  The power of police unions undermines these core DSA values. The fact that Fetonte concealed his background as a police union organizer is itself a reflection of this DSA consensus. It appears quite likely that he would not have been elected had he been open about his history with a police union. While we fiercely object to placing police organizers at the head of a socialist organization, we are first and foremost troubled by this lack of democratic transparency. If delegates had been aware of this and he still won, we would be disappointed in their decision, but we would have no grounds for questioning the legitimacy of the election. As the situation stands, his swift replacement is essential to the membership’s confidence in DSA’s leadership and commitment to democratic values. We fear damaging the trust we are working to build with essential allies who deserve our wholehearted support in their fight for freedom from state oppression, like the Black Lives Matter movement, and we fear damaging DSA’s future growth if this matter is not dealt with promptly.
%p
  Fetonte has made exceptional contributions to the growth and vitality of DSA Austin, which we admire and commend. We furthermore condemn the thoughtless and warrantless attacks on DSA Austin as a whole. They are our comrades, and we stand by their chapter in this challenging moment. But for the reasons outlined above, we do not feel that it is acceptable for a police union organizer, past or present, to have a seat on the NPC without full prior disclosure to the voting body of DSA delegates. We request that he voluntarily step down from the NPC, and we will applaud him for acting in good faith and for his commitment to prioritizing DSA over his own position. This is a difficult situation for DSA, but it is clear that his resignation is the best course of action for the strength of our movement. In the event that Fetonte does not resign, we demand that the NPC vote to remove and replace him.
%p Love and Solidarity,
%p The Libertarian Socialist Caucus

.footnotes
  .footnote-link
    %a{name: '#1'}
      = "[1]"
  .footnote
    Many police unions, including the National Fraternal Order of Police, the largest police union in the US, endorsed Donald Trump for president. Although CLEAT does not participate in national politics, its endorsements and political activities locally have also been reprehensible. A decisive majority of its endorsements in 2016 were for Republican candidates. CLEAT and the Dallas Police Association each endorsed Republican Governor and current Trump Cabinet member Rick Perry for the Texas gubernatorial general election in 2010. CLEAT additionally demonstrated a vote of confidence in Governor Perry two years later.