---
title: Statement of Support for the Movement in St. Louis
date: 2017-10-07 19:30 UTC
category: news
published: false
---

.title
  = @title

.datetime
  = @date


%p
  We have been asked to tell people what's going on and direct people to the jail fund (a bare minimum of 150 have been arrested).

%p
  Here is the <a href="https://www.fundedjustice.com/61HQD2?ref=ab_86rTf9_ab_6WGu1tXbmwZ6WGu1tXbmwZ">jail fund</a>.

%p
  Here is, briefly, what is going on:

%p
  In 2011 Saint Louis police officer Jason Stockley was recorded saying, "I'm gonna kill this motherfucker," before shooting Anthony Lamar Smith, a Black man, at point blank range and planting a gun on him. The recordings of this are from official police cameras and any dispute of this is disingenuous at best.

%p
  On September 15, 2017 Jason Stockley was, predictably, acquitted. A small demonstration numbering in the hundreds was met with militarized police brutality that was stunning, even for those of us on the Left. That response ignited an even bigger demonstration, and since then actions have been happening daily, usually multiple times a day. The police have arrested people with no orders to disperse, without reading Miranda rights, and often held them without legal counsel on no charges. In the process they've broken bones, used chemical agents like mace and pepper pellets unreservedly, and bloodied countless protesters and bystanders.

%p
  Coverage has been sparse at best, but news outlets we've been directed to are <a href="http://www.stlamerican.com/">The Saint Louis American</a> and <a href="https://www.riverfronttimes.com/">The Riverfront Times</a>.

%p
  <em>This movement is not slowing down.</em> With a new police chief due to be installed by the end of the year and a very busy schedule of upcoming actions, this movement will need continued support. We hope to bring this movement to the attention of anyone in our reach, and to start processes of organized aid.

%p
  We in the DSA LSC are very proud of our comrades in the <a href="https://stldsa.org/">Saint Louis DSA</a>, who have been working diligently to participate with and provide aid to this movement, which is led by Black Ferguson frontliners. We support the movement totally - including the open-carry demonstrations that have occurred and any that are scheduled - and see it as the kind of direct struggle against the racist, capitalist state that the DSA, the Left at large, and the world should support and can look to for inspiration and solidarity. 



