.top-bar {
  .top-bar-left {
  }
  .title .top {
    font-size: rem-calc(30);
  }
  .title .bottom {
    font-size: rem-calc(24);
  }
  .links {
    a {
      color: $red;
    }
  }
  .menu > li > a {
    padding: 0.7rem;
    margin-right: 0.8rem;

    &.active {
      border-bottom: 1px solid $white;
    }

    &:first-of-type {
      padding-left: 0px;
    }
  }
}

.content {
  .title {
    border-bottom: 1px solid $red;
    font-size: rem-calc(24);
    margin-bottom: rem-calc(30);
    margin-top: rem-calc(10);
    a {
      color: inherit;
      cursor: default;
    }
  }

  blockquote {
    font-family: $serif-font-family;
  }

  cite {
    text-align: right;
  }

  .bold {
    font-weight: 700;
  }
}

footer {
  text-align: center;
}