%div(data-sticky-container)
  .top-bar(data-sticky){data: { options: "marginTop:0;" }, style: "width:100%" }
    .top-bar-left
      .title
        .top
          DSA Libertarian Socialist Caucus
        .bottom
          Revolutionary Democratic Socialism
    .top-bar-right
      .image
        = image_tag('lsc-logo.png')
