= partial :header, locals: { active: { events: true } }

.row.content
  .medium-6.columns.medium-centered.small-12
    .title.large-6
      Events
    %ul
      %li
        General Assembly of the DSA Libertarian Socialist Caucus
        %ul
          %li When: Friday, August 4th 9:00 AM - 11:00 AM
          %li Where: 750 S Halsted St, Chicago, IL 60607-3603
        %a{ href: 'https://www.facebook.com/events/1896924627235545/'} [Facebook Event]

      %li
        Party with the DSA Libertarian Socialist Caucus
        %ul
          %li When: Friday, August 4 at 7:00 PM - 9:00 PM
          %li Where: Blue City Cycles, 3201 S Halsted St, Chicago, Illinois 60608
        %a{ href: 'https://www.facebook.com/events/121243928509009/'} [Facebook Event]
