= partial :header, locals: { active: { readings: true } }

.row.content
  .medium-6.columns.medium-centered.small-12
    %p One of the initiatives the Libertarian Socialist Caucus is most proud of is our DSA-LSC Pamphlet Program.  In the interests of expanding discussion and debate within the DSA, we have offered to lay out and publish Caucus members’ opinions in pamphlets that can both be distributed online in PDF form or printed and stapled into booklets that can be disseminated in person.

    %p Unless otherwise stated, these pamphlets do not represent official positions of the Libertarian Socialist Caucus arrived at via consensus; rather, they represent solely the views of the author(s).

    %p In the spirit of the long anarchist and socialist tradition of agitation propaganda, we encourage everyone to spread those pamphlets they agree with far and wide in order that the views expressed in them can change the conversation within DSA.

    %p For instructions on how to fold and staple a bi-fold pamphlet, please see <a href="http://www.wikihow.com/Staple-a-Booklet" title="How to staple a booklet">here</a> and <a href="https://en.wikibooks.org/wiki/Zine_Making/Putting_pages_together">here</a>.  For instructions on how to fold a trifold pamphlet, see <a href="http://www.wikihow.com/Fold-Paper-for-Tri-Fold-Brochures">here</a>.

    %ul
      %li
        Founding Document
        %a{ href: 'downloads/founding_document_ONLINE.pdf', target: '_blank'} [Read Online]
        %a{ href: 'downloads/founding_document_PRINT.pdf', target: '_blank'} [Printable Format]

      %li
        The Coming Health Care Fight by
        %span John Hieronymus
        %a{ href: 'downloads/the_coming_health_care_fight_by_john_hieronymus_ONLINE.pdf', target: '_blank'} [Read Online]
        %a{ href: 'downloads/the_coming_health_care_fight_by_john_hieronymus_PRINT.pdf', target: '_blank'} [Printable Format]

      %li
        Organizing Beyond the Point of Production by
        %span Sean Keith
        %a{ href: 'downloads/organizing_beyond_the_point_of_production_by_sean_keith_ONLINE.pdf', target: '_blank'} [Read Online]
        %a{ href: 'downloads/organizing_beyond_the_point_of_production_by_sean_keith_PRINT.pdf', target: '_blank'} [Printable Format]

      %li
        Listening by
        %span Colin Meinrath
        %a{ href: 'downloads/listening_by_colin_meinrath_ONLINE.pdf', target: '_blank'} [Read Online]
        %a{ href: 'downloads/listening_by_colin_meinrath_PRINT.pdf', target: '_blank'} [Printable Format]

      %li
        Why Socialist Job Guarantees are Better than Universal Basic Income by
        %span Alex Kolokotronis and Sam Nakayama
        %a{ href: 'downloads/job_guarantees_v_ubi_by_kolokotronis_and_nakayama_ONLINE.pdf', target: '_blank'} [Read Online]
        %a{ href: 'downloads/job_guarantees_v_ubi_by_kolokotronis_and_nakayama_PRINT.pdf', target: '_blank'} [Printable Format]

      %li
        How to Have a Part by
        %span Mason Herson-Hord
        %a{ href: 'downloads/how_to_have_a_party_by_mason_herson_hord_ONLINE.pdf', target: '_blank'} [Read Online]
        %a{ href: 'downloads/how_to_have_a_party_by_mason_herson_hord_PRINT.pdf', target: '_blank'} [Printable Format]

      %li
        Marching to Nowhere by
        %span Comrades from DC DSA
        %a{ href: 'downloads/marching_to_nowhere_by_dc_dsa_comrades_ONLINE.pdf', target: '_blank'} [Read Online]
        %a{ href: 'downloads/marching_to_nowhere_by_dc_dsa_comrades_PRINT.pdf', target: '_blank'} [Printable Format]

      %li
        Join us on rocket.chat
        %a{ href: 'downloads/rocket_chat_ONLINE.pdf', target: '_blank'} [Read Online]
        %a{ href: 'downloads/rocket_chat_PRINT.pdf', target: '_blank'} [Printable Format]

