= partial :header, locals: { active: { readings: true } }

.row.content
  .medium-6.columns.medium-centered.small-12
    %p One of the initiatives the Libertarian Socialist Caucus is most proud of is our DSA-LSC Pamphlet Program.  In the interests of expanding discussion and debate within the DSA, we have offered to lay out and publish Caucus members’ opinions in pamphlets that can both be distributed online in PDF form or printed and stapled into booklets that can be disseminated in person.

    %p Unless otherwise stated, these pamphlets do not represent official positions of the Libertarian Socialist Caucus arrived at via consensus; rather, they represent solely the views of the author(s).

    %p In the spirit of the long anarchist and socialist tradition of agitation propaganda, we encourage everyone to spread those pamphlets they agree with far and wide in order that the views expressed in them can change the conversation within DSA.

    %p For instructions on how to fold and staple a bi-fold pamphlet, please see <a href="http://www.wikihow.com/Staple-a-Booklet" title="How to staple a booklet">here</a> and <a href="https://en.wikibooks.org/wiki/Zine_Making/Putting_pages_together">here</a>.  For instructions on how to fold a trifold pamphlet, see <a href="http://www.wikihow.com/Fold-Paper-for-Tri-Fold-Brochures">here</a>.

    %section
      %h2 Founding Document of the Libertarian Socialist Caucus
      %p “We take libertarian socialism to encompass those parts of the socialist movement (including syndicalists, council communists, anarchists, cooperativists, and municipalists, among many others) which have historically seen the surest path to socialism as residing not in the seizure of state power by a political party, but rather in the creation of independent institutions in civil society that give the working class and ordinary people direct power over their lives.”
      %a{ href: 'downloads/founding_document_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/founding_document_PRINT.pdf', target: '_blank'} [Printable Format]

    %section
      %h2 General Assembly: Provisional Procedure and Guidelines
      %p The General Assembly will be the main meeting of the Libertarian Socialist Caucus during the Convention. These are its rules.
      %a{ href: 'downloads/GA_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/GA_PRINT.pdf', target: '_blank'} [Printable Format]

    %section
      %h2
        The Coming Health-Care Fight
        %span by John Hieronymus
      %p A mini-manifesto for the more intense and militant struggle which will be necessary to make health care for all a reality in the United States, written by an ICU nurse at the University of Chicago.
      %a{ href: 'downloads/the_coming_health_care_fight_by_john_hieronymus_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/the_coming_health_care_fight_by_john_hieronymus_PRINT.pdf', target: '_blank'} [Printable Format]

    %section
      %h2
        Organizing Beyond the Point of Production
        %span by Sean Keith
      %p Marxists tend to emphasize the importance of organizing labor in workplaces or “the point of production.” In this pamphlet, Sean Keith sketches out the limitations of a dogmatically labor-centric approach and outlines the radical potential of workers’ cooperatives and participatory budgeting with copious examples from recent history around the world.
      %a{ href: 'downloads/organizing_beyond_the_point_of_production_by_sean_keith_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/organizing_beyond_the_point_of_production_by_sean_keith_PRINT.pdf', target: '_blank'} [Printable Format]

    %section
      %h2
        Listening
        %span by A West Coast Comrade
      %p Notes towards a socialist practice of active listening. “Socialists can take a stand against neoliberal capitalism by actively listening to working people, by exposing the fake listening of bourgeois politicians, and by amplifying the voices of the unheard, as they struggle to make ends meet amid ongoing recession and spreading poverty.”


      %a{ href: 'downloads/listening_by_a_west_coast_comrade_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/listening_by_a_west_coast_comrade_PRINT.pdf', target: '_blank'} [Printable Format]

    %section
      %h2
        Why Socialist Job Guarantees are Better than Universal Basic Income
        %span by Alex Kolokotronis and Sam Nakayama
      %p A polemic against the idea that a Universal Basic Income is the best way of overcoming wage labor. The authors argue instead in favor of a self-managed socialist job guarantee, in which access to labor is guaranteed as a human right and its provisioning and planning is placed under the direct democratic control of local communities.
      %a{ href: 'downloads/job_guarantees_v_ubi_by_kolokotronis_and_nakayama_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/job_guarantees_v_ubi_by_kolokotronis_and_nakayama_PRINT.pdf', target: '_blank'} [Printable Format]

    %section
      %h2
        How to Have a Party
        %span by Mason Herson-Hord
      %p How do we overcome the Democrats? Elaborating on the inside-outside strategy written about by such authors as Seth Ackerman and Daniel Moraff, the author proposes the creation of a socialist “dual party” which coordinates campaigns and eventually politicians both within and outside the Democratic Party ballot line so they act as a unified bloc. This internally democratic organization could either take over the Democrats or create the basis for an independent socialist party in the event of a split.
      %a{ href: 'downloads/how_to_have_a_party_by_mason_herson_hord_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/how_to_have_a_party_by_mason_herson_hord_PRINT.pdf', target: '_blank'} [Printable Format]

    %section
      %h2
        Marching to Nowhere
        %span by Comrades from DC DSA
      %p Against the proposed DSA National-directed March on Washington for Single-Payer, and all largely symbolic marches in general by members of the DC chapter. “In our experience, localized struggles are more likely to inflame the consciousness of Washingtonians than a march in our own backyard.”
      %a{ href: 'downloads/marching_to_nowhere_by_dc_dsa_comrades_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/marching_to_nowhere_by_dc_dsa_comrades_PRINT.pdf', target: '_blank'} [Printable Format]

    %section
      %h2 Want to be a Space Communist?  Take Off!  [Rocket Chat Instructions]
      %p Everything you need to know about DSA Rocket Chat, which is both a good resource in itself and necessary for membership in the Caucus. Includes sign-up instructions, a user’s manual, and a fun guide to some of our favorite channels.
      %a{ href: 'downloads/rocket_chat_ONLINE.pdf', target: '_blank'} [Read Online]
      %a{ href: 'downloads/rocket_chat_PRINT.pdf', target: '_blank'} [Printable Format]

