= partial :header, locals: { active: { readings: true } }

.row.content
  .medium-6.columns.medium-centered.small-12
    .title.large-6
      Founding Documents
    %ul
      %li
        Founding Document
        %a{ href: 'downloads/founding_document_ONLINE.pdf'} [Download]



    .title.large-6
      Technical
    %ul
      %li
        Join us on rocket.chat
        %a{ href: 'downloads/rocket_chat_ONLINE.pdf'} [Download]
      %li
        Posting pamphlets to the website
        %a{ href: 'downloads/posting_pamphlets_to_the_website.pdf'} [Download]