= partial :header, locals: { active: { readings: true } }

.row.content
  .medium-6.columns.medium-centered.small-12
    .title.large-6
      Founding Documents
    %ul
      %li
        Founding Document
        %a{ href: 'downloads/founding_document_ONLINE.pdf', target: '_blank'} [Download]

    .title.large-6
      Pamphlets
    %ul
      %li
        The Coming Health Care Fight by 
        %span John Hieronymus
        %a{ href: 'downloads/the_coming_health_care_fight_by_john_hieronymus.pdf', target: '_blank'} [Download] 
      %li
        Organizing Beyond the Point of Production by 
        %span Sean Keith
        %a{ href: 'downloads/organizing_beyond_the_point_of_production_by_sean_keith.pdf', target: '_blank'} [Download] 
      %li
        Listening by 
        %span Colin Meinrath
        %a{ href: 'downloads/listening_by_colin_meinrath.pdf', target: '_blank'} [Download] 
      %li
        Why Socialist Job Guarantees are Better than Universal Basic Income by 
        %span Alex Kolokotronis and Sam Nakayama
        %a{ href: 'downloads/job_guarantees_v_ubi_by_kolokotronis_and_nakayama.pdf', target: '_blank'} [Download] 
      %li
        Marching to Nowhere by 
        %span Comrades from DC DSA
        %a{ href: 'downloads/marching_to_nowhere_by_dc_dsa_comrades.pdf.pdf', target: '_blank'} [Download] 


    .title.large-6
      Technical
    %ul
      %li
        Join us on rocket.chat
        %a{ href: 'downloads/rocket_chat_ONLINE.pdf', target: '_blank'} [Download]
      %li
        Posting pamphlets to the website
        %a{ href: 'downloads/posting_pamphlets_to_the_website.pdf', target: '_blank'} [Download]